{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesion{% endblock %}
{% block content %}



<main class='container'>
  <div class='row'>
    <div class='col-md-4 offset-md-4'>
      <form class='card card-body' method='POST'>

        {{ error }}

        {% csrf_token %}

        <div class="mb-3">
          <label for="username">Nombre de usuario</label>
          <input type="text" name="username" placeholder="Escribe un nombre usuario" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label for="password">Contraseña</label>
          <input type="password" name="password" placeholder="Escribe tu contraseña" class="form-control" id="password">
        </div>

        <button class="btn btn-primary">Iniciar sesión</button>


        <div class='d-flex align-items-center justify-content-center mt-3'>
          <p style="margin: 0; padding: 0;">¿No tienes una cuenta? <a href="/auth/signup/">Haz click aqui<a></p>

        </div>

      </form>
    </div>
  </div>
</main>


{% endblock %}